@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

g {
  cursor: pointer;
}

.pop-in {
  opacity: 0;
  animation: pop-in 100ms ease-in-out 200ms forwards;
}

@keyframes pop-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}